* {
    margin: 0;
    padding: 0;

}

ol,
ul {
    list-style-type: none;

}

a {
    /* color: #000000; */
    color: black !important;

    text-decoration: none !important;

}

body {
    background-color: brown !important;
}